footer, header {
  width: 100%;
  margin-left: 0;
}

header {
  margin-top: 0;
}

footer {
  margin-bottom: 0
}

.section {
  margin-left: 0;
  margin-right: 0;
}

.personal-information {
  margin-top: 12mm;
}
